{% extends 'layout.html' %}
{% block content %}
    <form method="post">
        <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/boostrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <br />
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
            <div class="row px-4">
                <div class="col-6">
                    <h5 class="pt-2 text-white">
                        Giỏ hàng
                    </h5>
                </div>

            </div>
        </div>
        <div class="card-body my-4">
            <div class="row">
            </div>
            <div class="row mb-3 pb-3">
                <div class="col-md-2 offset-md-1">
                    <a href="{{ url_for('index') }}" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Tiếp tục mua sắm</small></a>
                </div>
                	<div class="col-md-10 offset-md-1">

                    {% for cart in carts%}

                        <div class="row border-bottom pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                    <a href="{{ url_for('product_detail',id=cart.product.id) }}"><img src="/static/images/{{ cart.product.image_1 }}" class="card-img-top rounded w-100" /></a>

                            </div>
                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>{{cart.product.name}}</strong></h5>

                            </div>
                            <div class="col-12  col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">
                                        $ {{cart.product.price}}
                                        <span class="text-muted">&nbsp;x&nbsp;</span>{{ cart.count }}
                                    </h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">
                                        <a href="{{ url_for('minus',id=cart.id) }}" class="btn btn-outline-primary bg-gradient py-2">
                                            -
                                        </a>
                                        &nbsp;
                                        <a href="{{ url_for('plus',id=cart.id)}}" class="btn btn-outline-primary bg-gradient py-2">
                                            +
                                        </a>
                                    </div>

                                </div>
                                <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <a href="{{ url_for('delete_cart_item',id=cart.id) }}" class="btn btn-danger bg-gradient py-2 ">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}


                </div>
            </div>

            <div class="card-footer bg-white border-0">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <ul class="list-group mb-4">
                            <li class="d-flex justify-content-between align-items-center">
                                <h5 class="text-dark text-center fw-semibold text-uppercase"> Tổng {{ total }} (VNĐ)</h5>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        {%   if total!=0 %}
                            <a href="{{ url_for('summary') }}" class="btn btn-primary border-0 bg-gradient w-100 py-2">Summary</a>
                        {% else %}
                            <a href="{{ url_for('empty_cart') }}" class="btn btn-primary border-0 bg-gradient w-100 py-2">Summary</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

{% endblock content %}