{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css"/>

<form method="post">
	<br />
	<div class="container">
		<div class="card shadow border-0">

			<div class="card-header bg-dark bg-primary text-light ml-0 py-4">
				<div class="row px-4">
					<div class="col-6">
						<h5 class="pt-2 text-white ">
							Chi tiết đơn hàng
						</h5>
					</div>
					<div class="col-6 text-end">
						<a href="{{ url_for('cart') }}" class="btn btn-primary btn-sm">Trở về giỏ hàng</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Thông tin vận chuyển</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Tên khách hàng</label>
								</div>
								<div class="col-9">
									<input value="{{ user.name }}" class="form-control" />
									<span  name="name" class="text-danger"></span>
								</div>
							</div>
                        <div class="row my-1">
								<div class="col-3">
									<label>Email</label>
								</div>
								<div class="col-9">
									<input value="{{ user.email }}" name="email" class="form-control" />
									<span  name="email" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Số điện thoại</label>
								</div>
								<div class="col-9">
									<input value="{{ user.contact }}" name='contact' class="form-control" />
									<span name="contact" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Địa chỉ nhận hàng</label>
								</div>
								<div class="col-9">
									<input value="{{ user.address }}" name="address" class="form-control" />
									<span  class="text-danger"></span>
								</div>
							</div>


						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Thông tin đơn hàng</span>
							</h4>
							<ul class="list-group mb-3">
                                {% for cart in carts %}
								<li class="list-group-item d-flex justify-content-between">
									<div>
											<h6 class="my-0">{{ cart.product.name }}</h6>
											<small class="text-muted">Số lượng: {{ cart.count }}</small>
									</div>
									<span class="text-muted">{{ cart.count * cart.product.price }} VNĐ </span>
								</li>
								{% endfor %}

								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Tổng </small>
									<strong class="text-info">{{ total }} VNĐ</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">
							Estimate Arrival Date:

						</p>
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Place Order" class="btn btn-primary form-control">Đặt hàng</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>
</form>
{% endblock content %}