{% extends 'layout.html' %}
{% block content %}
    {% from "_formhelpers.html" import render_field  %}
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
            {% for category,message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>

    {% endif %}
    {% endwith %}
<form method="post">
    
    <section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <img class="img-product" src="/static/images/{{ product.image_1 }}">
        </div>
        
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{product.name}}
          </h4>
          <div class="d-flex flex-row my-3">
            
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>Còn {{ product.stock}}</span>
            
          </div>

          <div class="mb-3">
            <span class="h5">{{product.price}} VNĐ</span>
            <span class="text-muted">/quyển </span>
          </div>

          <p>
            {{product.description}}
          </p>

          <div class="row">
            <dt class="col-3">Danh mục</dt>
            <dd class="col-9">{{product.category.name}}</dd>
          </div>

          <hr />

          <div class="row mb-4">
            
            <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                          id="inputGroup-sizing-default">
                                        Số lượng
                                    </span>
                                    <input  type="number" name="count" value="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                </div>
                            </div>
                        </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 pb-1">
                
                <button type="submit"
                        class="btn btn-primary bg-gradient  py-2 text-uppercase fw-semibold">
                    Thêm vào rỏ hàng
                </button>
            </div>
        </div>
          
        </div>
      </main>
      
    </div>
    </div>
  </div>
</section>
</form>

{% endblock content %}