{% extends 'layout.html' %}
{% block content %}
<br>
<br>
<link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css"/>
<style>
	.product-card{
		height: 510px;
		width: 253px;
	}
</style>
</style>
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">
		
<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Danh mục</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">
				<form class="pb-3">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Search">
				  <div class="input-group-append">
				    <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
				  </div>
				</div>
				</form>
				
				<ul class="list-menu">
				{% for category in categories%}
				<li><a href="{{url_for('product_filter',id=category.id)}}">{{category.name}}  </a></li>
				{% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	
		
		
	
		
	
		
	</article> <!-- filter-group .// -->
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">
		
			<div class="row">
				{% for product in products.items %}
					<div class="col-lg-4 col-sm-12 mb-4">
						<div class="card border-0 p-3 shadow border-top border-5 rounded d-flex flex-column align-items-stretch product-card">
							{% if product.image_1 != None %}
								<div class="img-wrap">
									<img src="/static/images/{{ product.image_1 }}" class="product-item" />
								</div>
							{% else %}
								<img src="https://placehold.co/500x600/png" class="card-img-top rounded flex-grow-1" />
							{% endif %}
		
							<div class="card-body pb-0">
								<div class="pl-1">
									<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">{{ product.name }}</p>
									<p class="card-title text-warning text-center">by <b>{{ product.author }}</b></p>
								</div>
								<div class="pl-1">
									<p class="text-dark text-opacity-75 text-center mb-0">
										Giá 
										<span class="text-dark">
											{{ product.price }} VNĐ
										</span>
									</p>
								</div>
							</div>
							<div class="mt-auto">
								<a href="{{ url_for('product_detail',id=product.id) }}"
									class="btn btn-primary bg-gradient border-0 form-control">
									Chi tiết
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>


<nav class="mt-4" aria-label="Page navigation sample">
  <ul class="pagination">
	  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
	  {% for page_num in products.iter_pages() %}
    
    <li class="page-item"><a class="page-link" href="{{ url_for('product_page',page=page_num) }}" >{{page_num}}</a></li>
    
	{% endfor %}
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>	

	</main> 

</div>

</div> 
</section>

{% endblock content %}