{% extends 'layout.html' %}
{% block content %}
<div class="container">
    {% from "_formhelpers.html" import render_field  %}
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
            {% for category,message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>

    {% endif %}
    {% endwith %}
    <div class="row">
    <div class="col-md-12">
        <img src="static/images/index/360_F_544546950_Xi80k2ppry7rqKQQYsSNVmuaAILUiki9.jpg" class="img-fluid mb-3 w-100 h-50 bottom-100" alt="Hình ảnh mô tả" />
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            <i class="bi bi-truck display-1"></i>
            <div>
                <h1 class="text-danger"> Khuyến mãi vận chuyển</h1>
                <p> Chọn lựa các file sách ebook hoặc audiobook</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            <i class="bi bi-piggy-bank display-1"></i>
            <div>
                <h1 class="text-danger"> Giảm giá mạnh</h1>
                <p> Nhận giảm giá tốt cho sản phẩm được đánh giá cao nhất của chúng tôi</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            <i class="bi bi-rocket-takeoff display-1"></i>
            <div>
                <h1 class="text-danger"> Chuyển phát nhanh</h1>
                <p> Tận hưởng các chính sách vận chuyển và dịch vụ giao hàng nhanh của chúng tôi</p>
            </div>
        </div>
    </div>
</div>

</div>
<div class="container-fluid">
    <h1 class="text-center text-danger">Sách nổi bật</h1>
</div>

<div class="container-fluid mt-5">
        <div class="row bg-white ">
            <div class="col-md-6">
                <h2 class="text-danger">Best Book</h2>
                <h2 class="text-black">Nhật Ký Mùa Mưa (Tiểu Thuyết)</h2>
                <p><strong>Tác Giả:</strong> Yên Vũ Lệ Thiên</p>
                <p>Truyện ngôn tình - Tiểu thuyết văn học hiện đại. Chuyện tình yêu trầm buồn giữa mùa mưa nơi phố thị phồn hoa rực rỡ. Tiểu thuyết "Nhật Ký Mùa Mưa"- , tình yêu buồn ngay từ trang viết đầu tiên, để rồi, cuốn đi vào câu chuyện là những tâm sự trầm lắng, u buồn, bước tranh thành phố trong mưa đầy bi kịch. Sự chân thành liệu có đủ để bao dung, đủ để xua đi những bi ai và bất hạnh khôn cùng. Phải chăng, duyên phận, giống như một trò đùa, chỉ những người may mắn mới có thể nắm bắt được hạnh phúc!</p>
                <p><del>₫150,000.000</del> ₫120,000.000</p>
                <br>
                <a href="{{ url_for('product_detail',id=14) }}" class="btn btn-primary bg-gradient w-50 py-2 text-uppercase fw-semibold">Chi Tiết</a>
            </div>
            <div class="col-md-6">
                <img src="static/images/c92e153f6ae5afaf40972bb08f012d6a.jpg" alt="Miêu tả hình ảnh" class="img-fluid w-75 h-75">
            </div>



        </div>
    </div>
    <div class="container ">
        <h1 class="text-center text-danger">Books & Life Stories: Blog - Review - Thế giới trong từng trang sách!</h1>
        <br>
        <div class="col-md-4">
        <div class="card">
            <img src="static/images/index/Screenshot_1.jpg" class="img-size" alt="Image 1">
            <div class="card-body">
                <h3 class="card-title">Thể thơ Haiku: niềm tự hào của nền thơ ca xứ Phù Tang</h3>
                <a href="" class="text-primary">Xem chi tiết>></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="static/images/index/tumblrwallpapersimagefreedownloa.jpg" class="img-size" alt="Image 2">
            <div class="card-body">
                <h3 class="card-title">Tsundoku: về việc mua nhiều sách hơn bạn có thể đọc</h3>
                <a href="" class="text-primary">Xem chi tiết>></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="static/images/index/1-300x181.jpg" class="img-size" alt="Image 3">
            <div class="card-body">
                <h3 class="card-title">Đôi điều suy ngẫm về đọc sách và cảnh giới của việc đọc sách!</h3>
                <a href="" class="text-primary">Xem chi tiết>></a>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}