{% extends 'layout.html' %}
{% block content %}
<div class="container">
    {% from "_formhelpers.html" import render_field  %}
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
            {% for category,message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>

    {% endif %}
    {% endwith %}
    <div class="card-img-overlay">

    </div>
    <div class="row">
        <div class="col d-flex align-items-center">
            <i class="bi bi-truck display-1"></i>
            <div>
                <h1 class="text-danger">Khuyến mãi vận chuyển</h1>
                <p>Chọn lựa các file sách ebook hoặc audiobook</p>
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <i class="bi bi-piggy-bank display-1"></i>
            <div>
                <h1 class="text-danger">Giảm giá mạnh</h1>
                <p>Nhận giảm giá tốt cho sản phẩm được đánh giá cao nhất của chúng tôi</p>
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <i class="bi bi-rocket-takeoff display-1"></i>
            <div>
                <h1 class="text-danger">Chuyển phát nhanh</h1>
                <p>Tận hưởng các chính sách vận chuyển và dịch vụ giao hàng nhanh của chúng tôi</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h1 class="text-center text-danger">Sách nổi bật</h1>
</div>
{% endblock content %}