{% extends 'layout.html' %}


{% block content %}



<form method="post">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a href='{{ url_for('index') }}' class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Thông tin nhận hàng</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tên người nhận</div>
                                <div class="col-9">
                                    {% if current_user.role==admin %}
                                        <input value="{{ order_header.user.name }}" type="text" class="form-control" />

                                    {% else %}
                                        <input value="{{ order_header.user.name }}" readonly type="text" class="form-control" />
                                    {% endif %}

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    {% if current_user.role==admin %}
                                        <input value="{{ order_header.user.email }}" type="text" class="form-control" />

                                    {% else %}
                                        <input value="{{ order_header.user.email }}" readonly type="text" class="form-control" />
                                    {% endif %}

                                </div>
                            </div>
                           <div class="row my-1">
                                <div class="col-3">Số điện thoại</div>
                                <div class="col-9">
                                    {% if current_user.role==admin %}
                                    
                                        <input value="{{ order_header.user.contact }}" type="text" class="form-control" />

                                    {% else %}
                                        <input value="{{ order_header.user.contact }}" readonly type="text" class="form-control" />
                                    {% endif %}

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Địa chỉ</div>
                                <div class="col-9">
                                    {% if current_user.role!=admin %}
                                        <input value="{{ order_header.user.address }}" type="text" class="form-control" />

                                    {% else %}
                                        <input value="{{order_header.user.address }}" readonly type="text" class="form-control" />
                                    {% endif %}

                                </div>
                            </div>


                            <div class="row my-1">
                                <div class="col-3">Ngày đặt hàng</div>
                                <div class="col-9">
                                    <input value="{{order_header.order_date}}" readonly type="text" class="form-control" />
                                </div>
                            </div>
                        <div class="row my-1">
                                <div class="col-3">Ngày giao hàng</div>
                                <div class="col-9">
                                    <input value="{{order_header.ship_date}}" readonly type="text" class="form-control" />
                                </div>
                            </div>
                        <div>
                            <h3>Đánh giá dơn hàng</h3>
                            <div class="container" style="color: yellow;">
                                <input type="hidden" class="rating" min="1" max="5" step="1" data-size="lg">
                                <script >
                                    $(document).ready(function(){
                                        $('.rating').rating();
                                    });
                                </script>   
                            </div>
                        </div>

                                                     




                            </div>

                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Đơn hàng</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Trạng thái đơn hàng - {{order_header.order_status}}</label>

                            <ul class="list-group mb-3">
                                {% for detail in order_detail %}
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <img src="/static/images/{{ detail.product.image_1 }}" class="w-50 h-50"/>
                                            <div class="col-8">
                                                    
                                                <h6 class="my-0 text-primary">{{ detail.product.name }}</h6>
                                                <small class="text-muted">Giá : {{ detail.product.price }}</small><br />
                                                <small class="text-muted">Số lượng : {{  detail.count}}</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">{{  detail.count * detail.product.price}}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>

                            {% if current_user.role!='admin' %}
                                <a type="submit" class="btn btn-success form-control my-1">Thanh toán</a>

                        {% endif %}
                            {% if current_user.role=='admin'  and order_header.order_status=='Đang xử lý' %}
                                    <a href="{{ url_for('order_status_shipping',id=order_header.id) }}"
                                            class="btn btn-primary form-control my-1">
                                        Giao hàng
                                    </a>
                            {% endif %}
                                {% if current_user.role=='admin' and order_header.order_status=='Đang giao hàng' %}
                                    <a href="{{ url_for('order_status_shipped',id=order_header.id) }}"
                                       class="btn btn-primary form-control my-1">
                                        Đã giao hàng
                                    </a>{% endif %}




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock content %}